# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\dars\fati\Mapsa\homeWork\TA\dotin-dedicated-camp\lab-work\week6\logger_and_logback\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
